/* overall design */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
}
.btn-primary{
    color: white;
    border-radius: 5px;
    background: #E55473;
    padding: 8px 16px;
    border: none;
}
/* Banner design starts from here */

.banner{
    background: rgba(229, 84, 115, 0.10);

}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px 0px 100px;
    gap:100px
}
.banner-img{
    width: 450px;
    padding-right: 100px;
    padding-top: 40px;
}
.banner-description-title{
    font-size: 40px;
    font-style: bold;
}
.banner-description-content{
    text-align: justify;
    color: rgba(39, 39, 39, 0.60);
}

/* Our Featured Flowers design section starts from here  */

.featured-flowers{
    max-width: 1140px;
    margin: 0 auto;
}
.featured-flowers-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}
.featured-flowers-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.featured-flowers-box1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 380px;
    height: 450px;
    background-image: url('./images/pngwing\ 6.png');
    background-repeat: no-repeat;
    background-position: bottom;
}
.featured-flowers-box2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 380px;
    height: 450px;
    background-image: url('./images/pngwing\ 5.png');
    background-repeat: no-repeat;
    background-position: bottom;
}
.featured-flowers-box3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 380px;
    height: 450px;
    background-image: url('./images/pngwing\ 7.png');
    background-repeat: no-repeat;
    background-position: bottom;
}
.featured-flowers-box1-caption{
    text-decoration: underline;
    text-align: center;
    padding-top: 505px;
    
}

/* Rectangle section starts from here */
.rectangle{
    width: 1140px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 200px;
}
.rectangle-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 85px;
}
.rectangle-content1{
    text-align: center;
}

/* Hot deal section design starts from here */

.hotdeal-container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    background: rgba(229, 84, 115, 0.05);
    padding: 50px 240px 50px 240px;
}
.hotdeal-description{
    text-align: center;
}
.hotdeal-description-content{
    color: rgba(39, 39, 39, 0.60);
    
}
/* Social media section starts from here */

.social-media{
    max-width: 1140px;
    margin: 100px auto;
    
}
.socialmedia-title{
    text-align: center;
}
.socialmedia-title p{
    color: rgba(39, 39, 39, 0.60);
}
.social-media-img{
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}
.social-media-img1{
    height: 290px;
    width: 240px;
}

/* Get deal section start from here */

.get-deal{
    max-width: 1140px;
    margin: auto;
    
}

.get-deal-container{
    background-image: url("./images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size:contain;
    height: 450px;
    margin: 0px auto;
    text-align: center;
    padding-top: 50px;

    
}
.get-deal-container input{
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
}
.get-deal-container p{
    color: rgba(39, 39, 39, 0.60);
}
/* Footer section design */
footer{
    height: 300px;
    background: #111010;
    color: #ffff;
    text-align: center;
    padding-top: 50px;
}
